on:
  pull_request:
    branches:
    - main
jobs:
  my_job:
    name: run unit tests
    runs-on: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - name: Install Dependencies
      run: |
       cd backend && npm install
       cd ..
       cd web && npm install
    - name: Run test execution
      run: npm run test
